.mainElement {
  background-color: #37455a;
  width: 100%;
  height: 50vh;
  position: relative;
}
.signupPage {
  background-color: white;
  width: 28em;
  height: 33em;
  border: 1px solid #37455a;
  border-radius: 15px;
  position: absolute;
  top: 7em;
  left: 33em;
}
.registrationText {
  font-size: 26px;
  font-weight: 600;
  margin-top: 11px;
  margin-left: 17px;
}
.parentFirstName {
  margin-top: 25px;
  margin-left: 17px;
}
.fNameTxtField {
  margin-top: 5px;
}
.textFieldWidth {
  width: 25em;
}
.backToLogin {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  color: blue;
}
.backToLogin:hover {
  cursor: pointer;
  text-decoration: underline;
}
.submitRegBtn {
  margin-left: 40%;
  margin-top: 50px;
}
